<div class="form-group">
  <input
    type="text"
    placeholder="Name"
    required
    [(ngModel)]="userModel.username"
  />
</div>

<div class="form-group">
  <input
    type="password"
    placeholder="Password"
    [(ngModel)]="userModel.password"
  />
</div>

<div>
  <button (click)="register()">Register</button>
  <button (click)="login()">Login</button>
</div>

<div>
  <h1>Orders</h1>
</div>
<div>
  <button (click)="createOrder()">Add Order</button>
</div>
<ul *ngFor="let order of orders">
  <li>
    <div>{{ order.title }}</div>
    <button (click)="updateOrder(order)">update</button>
    <button (click)="deleteOrder(order)">remove</button>
  </li>
</ul>

<router-outlet></router-outlet>
